body {
    background: #1E1E1E;
}

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

    .tooltip-measure:before,
    .tooltip-static:before {
        border-top: 6px solid rgba(0, 0, 0, 0.5);
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        content: "";
        position: absolute;
        bottom: -6px;
        margin-left: -7px;
        left: 50%;
    }

    .tooltip-static:before {
        border-top-color: #ffcc33;
    }

.btn_measure_line {
    top: 100px;
    left: .5em;
}

.btn_measure_area {
    top: 130px;
    left: .5em;
}

.btn_feature_del{
    top: 170px;
    left: .5em;
}
#btn_feature_del{
    background-color: rgba(255, 0, 0,.5);
}
#btn_feature_del:hover{
    background-color: rgba(255, 0, 0,.8);
}