<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>fieldmapper</title>
    <meta name="description" content="fieldmapper">
    <meta name="author" content="hannes">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="../js/ol-debug.js"></script>
    <style>
        .map {
            background: grey;
        }
    </style>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <div id="map" class="map"></div>
    <div id="treesum">
        <label style="color:white">Reihenabstand:</label>
        <input style="border-color:white" type="number" v-model="rowdist" placeholder="cm"/>
        <label style="color:white">Baumabstand:</label>
        <input style="border-color:white" type="number" v-model="treedist" placeholder="cm"/>
        <label style="color:white">{{treesum}}</label>
    </div>
    <script src="js/main.js"></script>
    <script src="js/map.js"></script>
    <script src="../js/vue_mappings.js"></script>
</body>
</html>